body {
  font-family: "Sora", sans-serif;
  background-color: #ffff;
  margin: 0;
}
.m-5 {
  margin: 5rem;
}
.p-1 {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0 !important;
  margin-top: 2rem !important;
}
.name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #000000;
}
.sections {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 1.5rem;
}
.sections h3 {
  cursor: pointer;
}
.download_resume_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  gap: 8px;
  margin: 0 auto;
  width: 153px;
  height: 56px;
  background: #000000;
  border-radius: 7px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.introduction {
  display: flex;
}
.left_content p {
  width: 600px;
  height: 96px;
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #71717a;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.left_content h1 {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: -0.02em;
  color: #000000;
}
.left_content b {
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
}
.left_content span {
  -webkit-text-stroke-width: 3;
  -webkit-text-stroke-color: var(--Primary-Black, #000);
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
  background-clip: text;
}
.right_content {
  max-width: 50%;
  overflow: hidden;
  margin-left: auto;
}
.introduction_img {
  width: 100%;
  max-height: 400px;
}

.my_skills {
  text-align: center;
}
.my_skills h1 {
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.my_skills b {
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.skills_wrap {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
}
.skills {
  display: flex;
  width: 120px;
  height: 120px;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-radius: 4px;
  border: 2px solid var(--Primary-Black, #000);
  background: var(--Primary-White, #fff);
}
.skills p {
  align-self: stretch;

  color: var(--Primary-Black, #000);
  text-align: center;

  font-family: Sora;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.4px;
  text-transform: capitalize;
}
.skills:hover {
  background-color: var(--Primary-Black, #000);
}
.skills:hover .skill_icon {
  filter: brightness(0) invert(1);
}

.skills:hover p {
  color: #ffffff !important;
}

.my_experience {
  background: var(--Primary-Black, #000);
  padding: 60px 80px;
  text-align: center;
}
.my_experience h1 {
  color: var(--Primary-White, #fff);
  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.my_experience b {
  color: var(--Primary-White, #fff);

  font-family: Sora;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -0.96px;
}
.experience {
  border-radius: 10px;
  border: 1px solid var(--Zinc-500, #71717a);
  padding: 10px;
}
.company_logo {
  height: 40px;
  padding-right: 10px;
  cursor: pointer;
}
.experience_header {
  display: flex;
}
.experience_header h1 {
  color: var(--Primary-White, #fff);
  text-align: center;

  font-family: Sora;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.48px;
  margin: 5px;
  margin-right: auto;
}
.experience_header span {
  color: var(--Zinc-300, #d4d4d8);
  text-align: center;

  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.32px;
  margin: 5px;
}
.experience p {
  align-self: stretch;
  color: var(--Zinc-300, #d4d4d8);

  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: start;
}
